.serviceBox{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.serviceHeading{
    color: #ED9A34;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2em;
    font-family: "Poppins", serif;
    margin-top: 1rem;
    margin-left: 1rem;
}

.serviceCardImg{
    background: #212a3c56;
    width: 300px;
    height: 200px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.serviceCardImg img{
    width: 200px;
}