.heroBanner {
    width: 100%;
    height: 100vh;
    background-color: #F76A1E;
    overflow: hidden;
  }
  
  .grainOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/noise.jpg");
    background-size: cover;
    opacity: 0.2; /* Adjust opacity for visibility */
    pointer-events: none;
  }
  

  .heroRipple{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .heroHead{
    line-height: 0.8em;
    font-family: 'poppins', Times, serif;
    word-spacing: 0.2em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFF4B8;
    font-size: 16vw;
    font-weight: 600;
    font-family: "Montserrat", serif;
  }

  .heroBottomSections{
    width:100%;
    position:absolute;
    bottom:3rem;
    display : flex;
    justify-content : space-between;   
    align-items:center;
    padding:0px 3rem; 
  }

  .heroSubhead{
    color: #FFF4B8;
    font-size:2rem;
    line-height: 1.2em;
    max-width : 50%;
    font-weight:500;
    font-family: "Poppins", serif;
  }

  .heroJoinUs{
    border:2px solid #FFF4B8;
    border-radius: 21px;
    padding:0.5rem 3rem;
    color: #FFF4B8;
    font-size : 1rem;
    font-weight : 700;
    transition: all 0.2s linear;
    font-family: "Montserrat", serif;
  }

  .heroJoinUs:hover{
    background: #FFF4B8;
    color: #F76A1E;
  }

  .heroSubhead {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .word {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  

@media (max-width: 767px) {
  .heroHead{
    margin-top:1rem;
  }

  .heroBottomSections{
    flex-direction:column;
    padding:0px 0.5rem; 
  }

  .heroSubhead{
    font-size:1.5rem;
    line-height: 1.5em;
    max-width : 95%;
    font-weight:400;
    font-family: "Poppins", serif;
    margin-bottom:1.5rem
  }

  .grainOverlay{
    display: none;
  }

  .heroBtnWrapper{
    width:100%;
  }

  .heroJoinUs{
    width:100%;
    padding:0.5rem 8rem;
    /* padding:0px; */
  }

  .heroRipple{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}