.ourGoal{
    background:#88B7BD;
    overflow:hidden;
}

.infoStripe{
   width: 100%; 
   height:50px;
   background:#FCB683;
   border-top:1px solid black;
   border-bottom:1px solid black;
   font-size:1rem;
    font-weight : 500;
    color:black;
    line-height:1em;
    text-align:left;
    display: flex;
    align-items:center;
    padding-left: 2rem;
}

.ourVisionBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.ourVisionHead{
    line-height: 1em;
    color: #FFF4B8;
    font-size: 4vw;
    font-weight: 600;
    font-family: "poppins", serif;
}

.ourVisionSubhead{
    color: #FFF4B8;
    font-size:1.2rem;
    line-height: 1.2em;
    font-weight:500;
    font-family: "Poppins", serif;
    margin-top: 1.2rem;
}

.ourGoalImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ourGoalImgBox img{
    width: 80%;
}

.ourVisionRow{
    height: 100%;
}

@media (max-width: 767px) {
.ourVisionRow{
    flex-direction: column-reverse;
    height: auto;
}

.ourGoalImgBox{
    margin-top: 6rem;
}
.ourVisionBox{
    margin-top: 4rem;
}

.ourVisionHead{
    line-height: 1em;
    color: #FFF4B8;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

.ourVisionBox{
    padding-left: 0px;
}

.ourVisionSubhead{
    color: #FFF4B8;
    font-size:1.2rem;
    line-height: 1.2em;
    font-weight:500;
    font-family: "Poppins", serif;
    margin-top: 1.5rem;
    text-align: center;
}
}