.ourVisionHeading{
    font-size:4rem;
    font-weight: 600;
    line-height: 1em;
    color: #121212;
    text-transform: uppercase;
}

.subhead{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    line-height: 1.5em;
    text-align: center;
    color: #121212;
    margin-top: 2rem;
    width: 900px;
}

.subhead span{
    color: black;
    font-weight: 500;
}

.pinSpacer{
    background: linear-gradient(to bottom, white, #212A3C, #212A3C);
}

@media (max-width: 767px) {
    .ourVisionHeading{
        font-size:3rem;
        font-weight: 700;
        line-height: 1em;
        color: #121212;
        text-transform: uppercase;
    }
    
    .subhead{
        font-size: 1rem;
        font-weight: 300;
        font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
        line-height: 1.5em;
        text-align: center;
        color: #121212;
        margin-top: 2rem;
        width: 320px;
    }

    .pinSpacer{
        height: 120vh;
    }

    .pinSpacer{
        background: linear-gradient(to bottom, white, #010A20, #010A20);
    }
}